<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hky.atmarental">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AtmaRental">
        <activity android:name=".LaporanPenyewaanMobilBulanActivity"/>
        <activity android:name=".LaporanPendapatanTransaksiBulanActivity"/>
        <activity android:name=".LaporanTop5DriverTransaksiBulanActivity"/>
        <activity android:name=".LaporanPerfomaDriverBulanActivity"/>
        <activity android:name=".LaporanTop5CustomerTransaksiBulanActivity"/>
        <activity android:name=".CustomerActivity"/>
        <activity android:name=".ManagerActivity"/>
        <activity android:name=".DriverActivity"/>
        <activity android:name=".TampilPerfomaDriverActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>